# Generated AVD fabric navigation
# COPY into mkdocs.yml under the "nav" key



{% filter indent(width=2) %}
nav:
{%- endfilter %}

{%- for datacenter in doc_struct.datacenters %}

  {%- filter indent(width=2) %}

  - {{ datacenter.dc }}:

  {%- endfilter %}
  {%- for fabric in datacenter.fabrics %}
  
    {%- filter indent(width=2) %}

    - {{ fabric }}:

    {%- endfilter %}
    {%- for device in device_files %}
      {%- if datacenter.dc in device and fabric in device %}
        {%- if "FABRIC" in device %}
          {%- filter indent(width=2) %}
        
      - Fabric: {{ device }}

          {%- endfilter %}
        {% else %}
          {%- filter indent(width=2) %}
        
      - {{ device.split('/')[-1][:-3]}}: {{ device }}

          {%- endfilter %}
        {% endif %}

      {%- endif %}

    {%- endfor %}
  {%- endfor %}
{%- endfor %}