TPA-TRX1-TFLRO-PE1#show run
Building configuration...

Current configuration : 38704 bytes
!
! Last configuration change at 06:03:06 CST Sat Nov 9 2024 by nmssuper
! NVRAM config last updated at 06:03:07 CST Sat Nov 9 2024 by nmssuper
!
version 17.6
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
no service dhcp
service call-home
platform qfp utilization monitor load 80
no platform punt-keepalive disable-kernel-core
platform hardware crypto-throughput level 8-25g 
!
hostname TPA-TRX1-TFLRO-PE1
!
boot-start-marker
boot system flash bootflash:asr1000-universalk9.17.06.04.SPA.bin
boot system flash bootflash:asr1000-universalk9.16.12.04.SPA.bin
boot-end-marker
!
!
vrf definition Mgmt
 !
 address-family ipv4
 exit-address-family
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
vrf definition ROTRUST
 rd 22024:910
 !
 address-family ipv4
  import map PREF_DEFAULT_IMPORT_MAP
  route-target export 64752:910
  route-target import 65210:90111
  route-target import 64750:910
  route-target import 64751:910
  route-target import 64753:910
  route-target import 64754:910
  route-target import 64755:910
  route-target import 64756:910
  route-target import 64757:910
  route-target import 64758:910
  route-target import 64759:910
  route-target import 64760:910
  route-target import 64761:910
  route-target import 64762:910
  route-target import 64763:910
  route-target import 64764:910
  route-target import 64765:910
  route-target import 64766:910
  route-target import 64767:910
  route-target import 64811:910
  route-target import 64812:910
  route-target import 64813:910
  route-target import 65421:910
  route-target import 64536:910
  route-target import 65011:90201
  route-target import 65011:91099
  route-target import 65010:91099
  route-target import 65220:992
  route-target import 64669:91001
  route-target import 65354:949
  route-target import 64780:914
  route-target import 65215:90113
  route-target import 64782:91401
  route-target import 64782:91402
  route-target import 64653:949
  route-target import 64698:949
  route-target import 64811:91099
  route-target import 64813:91099
  route-target import 64659:910
  route-target import 64820:90101
  route-target import 64820:90103
  route-target import 64800:910
  route-target import 64800:914
  route-target import 64800:949
  route-target import 64800:91099
  route-target import 64800:91098
 exit-address-family
!
vrf definition ROUNTRUST
 rd 22024:911
 !
 address-family ipv4
  route-target export 64752:911
  route-target import 64535:91102
  route-target import 65420:91111
  route-target import 64811:911
  route-target import 64812:911
  route-target import 64813:911
  route-target import 65500:911
  route-target import 64800:911
 exit-address-family
!
vrf definition USAADR
 rd 22024:912
 !
 address-family ipv4
  route-target export 64752:912
  route-target import 65000:91211
  route-target import 64952:912
  route-target import 65220:912
 exit-address-family
!
logging buffered 64000
no logging console
enable secret 9 $9$/9lAzwfayuQiSG$CLU0D6cnCFtbUzVGwTM29MNzoziEUWZoxMzWqbrRzFA
!
aaa new-model
!
!
aaa group server tacacs+ USAA-AAA
 server name PRODAUTH-DFW
 server name PRODAUTH-COLO
 ip vrf forwarding Mgmt
 ip tacacs source-interface GigabitEthernet0/0/0
!
aaa authentication login default group USAA-AAA local
aaa authentication enable default group USAA-AAA enable
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group USAA-AAA if-authenticated 
aaa authorization commands 15 default group USAA-AAA if-authenticated 
aaa accounting exec default start-stop group USAA-AAA
aaa accounting commands 15 default stop-only group USAA-AAA
aaa accounting connection default start-stop group USAA-AAA
aaa accounting system default start-stop group USAA-AAA
!
!
!
!
!
!
aaa session-id common
clock timezone CST -6 0
clock summer-time CDT recurring
ip arp proxy disable
!
!
!
!
!
!
!
ip name-server vrf Mgmt 10.0.255.100
no ip domain lookup
ip domain name usaa.com
ip multicast-routing distributed
ip multicast-routing vrf ROTRUST distributed
ip multicast-routing vrf ROUNTRUST distributed
ip dhcp bootp ignore
!
!
!
login on-success log
!
!
!
!
!
!
!
subscriber templating
! 
! 
! 
! 
!
!
mpls label mode vrf ROTRUST protocol all-afs per-vrf
mpls label mode vrf ROUNTRUST protocol all-afs per-vrf
mpls label mode vrf USAADR protocol all-afs per-vrf
!
flow record NOS3001-RECORD
 match ipv4 source address
 match ipv4 destination address
 match ipv4 protocol
 match ipv4 tos
 match transport destination-port
 match transport source-port
 match interface input
 collect routing source as
 collect routing destination as
 collect routing next-hop address ipv4
 collect transport tcp flags
 collect counter bytes long
 collect counter packets long
 collect interface output
 collect timestamp sys-uptime first
 collect timestamp sys-uptime last
!
!
flow exporter NOS3001-NETFLOW-EXPORTER
 description NETSCOUT EXPORTER
 destination 10.227.40.51 vrf Mgmt
 source GigabitEthernet0/0/0
 transport udp 9995
 template data timeout 300
!
!
flow monitor NOS3001-NETFLOW-NETSCOUT-MONITOR
 exporter NOS3001-NETFLOW-EXPORTER
 cache timeout inactive 59
 cache timeout active 60
 record NOS3001-RECORD
!
multilink bundle-name authenticated
!
!
!
key chain ONENET_SEC macsec
 key 0100000000000000000000000000000000000000000000000000000000000000
   cryptographic-algorithm aes-256-cmac
  key-string 7 121F0013100A0D547A7B7478636572435746535106090803045E534846090807030205045B0B56570807544356540B5B565F711C1E59495547425B5C547A7B7478
key chain ONENET_TEST macsec
 key 0100000000000000000000000000000000000000000000000000000000000000
   cryptographic-algorithm aes-256-cmac
  key-string 7 121F0013100A0D547A7B7478636572435746535106090803045E534846090807030205045B0B56570807544356540B5B565F711C1E59495547425B5C547A7B7478
!
!
!
!
!
!
!
crypto pki trustpoint SLA-TrustPoint
 enrollment pkcs12
 revocation-check crl
!
!
crypto pki certificate chain SLA-TrustPoint
 certificate ca 01
  30820321 30820209 A0030201 02020101 300D0609 2A864886 F70D0101 0B050030 
  32310E30 0C060355 040A1305 43697363 6F312030 1E060355 04031317 43697363 
  6F204C69 63656E73 696E6720 526F6F74 20434130 1E170D31 33303533 30313934 
  3834375A 170D3338 30353330 31393438 34375A30 32310E30 0C060355 040A1305 
  43697363 6F312030 1E060355 04031317 43697363 6F204C69 63656E73 696E6720 
  526F6F74 20434130 82012230 0D06092A 864886F7 0D010101 05000382 010F0030 
  82010A02 82010100 A6BCBD96 131E05F7 145EA72C 2CD686E6 17222EA1 F1EFF64D 
  CBB4C798 212AA147 C655D8D7 9471380D 8711441E 1AAF071A 9CAE6388 8A38E520 
  1C394D78 462EF239 C659F715 B98C0A59 5BBB5CBD 0CFEBEA3 700A8BF7 D8F256EE 
  4AA4E80D DB6FD1C9 60B1FD18 FFC69C96 6FA68957 A2617DE7 104FDC5F EA2956AC 
  7390A3EB 2B5436AD C847A2C5 DAB553EB 69A9A535 58E9F3E3 C0BD23CF 58BD7188 
  68E69491 20F320E7 948E71D7 AE3BCC84 F10684C7 4BC8E00F 539BA42B 42C68BB7 
  C7479096 B4CB2D62 EA2F505D C7B062A4 6811D95B E8250FC4 5D5D5FB8 8F27D191 
  C55F0D76 61F9A4CD 3D992327 A8BB03BD 4E6D7069 7CBADF8B DF5F4368 95135E44 
  DFC7C6CF 04DD7FD1 02030100 01A34230 40300E06 03551D0F 0101FF04 04030201 
  06300F06 03551D13 0101FF04 05300301 01FF301D 0603551D 0E041604 1449DC85 
  4B3D31E5 1B3E6A17 606AF333 3D3B4C73 E8300D06 092A8648 86F70D01 010B0500 
  03820101 00507F24 D3932A66 86025D9F E838AE5C 6D4DF6B0 49631C78 240DA905 
  604EDCDE FF4FED2B 77FC460E CD636FDB DD44681E 3A5673AB 9093D3B1 6C9E3D8B 
  D98987BF E40CBD9E 1AECA0C2 2189BB5C 8FA85686 CD98B646 5575B146 8DFC66A8 
  467A3DF4 4D565700 6ADF0F0D CF835015 3C04FF7C 21E878AC 11BA9CD2 55A9232C 
  7CA7B7E6 C1AF74F6 152E99B7 B1FCF9BB E973DE7F 5BDDEB86 C71E3B49 1765308B 
  5FB0DA06 B92AFE7F 494E8A9E 07B85737 F3A58BE1 1A48A229 C37C1E69 39F08678 
  80DDCD16 D6BACECA EEBC7CF9 8428787B 35202CDC 60E4616A B623CDBD 230E3AFB 
  418616A9 4093E049 4D10AB75 27E86F73 932E35B5 8862FDAE 0275156F 719BB2F0 
  D697DF7F 28
  	quit
!
!
license udi pid ASR1002-HX sn JAD222400LH
archive
 log config
  logging enable
memory free low-watermark processor 683717
!
!
spanning-tree extend system-id
diagnostic bootup level minimal
!
mka policy RO_MKA
 key-server priority 255
 macsec-cipher-suite gcm-aes-256 
mka policy TEST_MKA
 key-server priority 60
 macsec-cipher-suite gcm-aes-256 
!
!
username netsupport privilege 15 secret 9 $9$mYx89AM2tymmxK$zDNr6HpHwiqQcyBOrRtc.YK3ZVf53nAdZSSF8kiDlHE
!
redundancy
 mode none
!
!
!
!
!
!
cdp run
!
lldp run
!
class-map match-all CLASS-WAN-STREAMING-VIDEO-BIDIR-V4
 match access-group name QOS-WAN-STREAMING-MEDIA-BIDIR-V4
class-map match-all CLASS-LAN-NETWORK-CONTROL-CS7-BIDIR-V3
 match ip dscp cs7 
class-map match-all CLASS-LAN-NETWORK-CONTROL-CS6-BIDIR-V3
 match ip dscp cs6 
class-map match-all CLASS-LAN-CALL-DATA-BIDIR-V3
 match ip dscp ef 
class-map match-all CLASS-MPLS-WAN-NETWORK-CONTROL-EXP7-V1
 match mpls experimental topmost 7 
class-map match-all CLASS-MPLS-WAN-NETWORK-CONTROL-EXP6-V1
 match mpls experimental topmost 6 
class-map match-all CLASS-WAN-NETWORK-CONTROL-CS6-BIDIR-V3
 match ip dscp cs6 
class-map match-all CLASS-WAN-NETWORK-CONTROL-CS7-BIDIR-V3
 match ip dscp cs7 
class-map match-all CLASS-MPLS-WAN-CALL-CONTROL-V1
 match mpls experimental topmost 3 
class-map match-all CLASS-LAN-STREAMING-VIDEO-BIDIR-V3
 match ip dscp af31 
class-map match-all CLASS-WAN-CALL-DATA-BIDIR-V4
 match access-group name QOS-WAN-CALL-DATA-BIDIR-V4
class-map match-all CLASS-LAN-EXTERNAL-BIDIR-V3
 match ip dscp 6 
class-map match-all CLASS-LAN-BULK-BIDIR-V3
 match ip dscp af11 
class-map match-all CLASS-WAN-BULK-BIDIR-V3
 match access-group name QOS-WAN-BULK-BIDIR-V3
class-map match-all CLASS-MPLS-WAN-DEFAULT-V1
 match mpls experimental topmost 0 
class-map match-all CLASS-WAN-EXTERNAL-BIDIR-V3
 match access-group name QOS-WAN-EXTERNAL-BIDIR-V3
class-map match-all CLASS-LAN-CALL-VIDEO-BIDIR-V3
 match ip dscp af41 
class-map match-all CLASS-MPLS-WAN-CRITICAL-DATA-V1
 match mpls experimental topmost 2 
class-map match-all CLASS-WAN-CALL-CONTROL-BIDIR-V4
 match access-group name QOS-WAN-CALL-CONTROL-BIDIR-V4
class-map match-all CLASS-WAN-LIVE-VIDEO-BIDIR-V3
 match access-group name QOS-WAN-LIVE-VIDEO-BIDIR-V3
class-map match-all CLASS-WAN-MISSION-CRITICAL-BIDIR-V3
 match access-group name QOS-WAN-MISSION-CRITICAL-BIDIR-V3
class-map match-all CLASS-MPLS-WAN-REAL-TIME-V1
 match mpls experimental topmost 5 
class-map match-all CLASS-LAN-CALL-CONTROL-BIDIR-V3
 match ip dscp cs3 
class-map match-all CLASS-LAN-LIVE-VIDEO-BIDIR-V3
 match ip dscp cs4 
class-map match-all CLASS-LAN-MISSION-CRITICAL-BIDIR-V3
 match ip dscp af21 
class-map match-all CLASS-WAN-CALL-VIDEO-BIDIR-V3
 match access-group name QOS-WAN-CALL-VIDEO-BIDIR-V3
class-map match-all CLASS-MPLS-WAN-BULK-DATA-V1
 match mpls experimental topmost 1 
class-map match-all CLASS-WAN-REAL-TIME-INTERACTIVE-BIDIR-V3
 match ip dscp cs5 
class-map match-all CLASS-LAN-SCAVENGER-BIDIR-V3
 match ip dscp cs1 
class-map match-all CLASS-WAN-OAM-BIDIR-V3
 match access-group name QOS-WAN-OAM-BIDIR-V3
class-map match-all CLASS-WAN-SCAVENGER-BIDIR-V3
 match access-group name QOS-WAN-SCAVENGER-BIDIR-V3
class-map match-all CLASS-LAN-REAL-TIME-INTERACTIVE-BIDIR-V3
 match ip dscp cs5 
class-map match-all CLASS-MPLS-WAN-MULTIMEDIA-V1
 match mpls experimental topmost 4 
class-map match-all CLASS-LAN-OAM-BIDIR-V3
 match ip dscp cs2 
!
policy-map POLICY-LAN-QUEUE-OUT-V3
 class CLASS-LAN-NETWORK-CONTROL-CS7-BIDIR-V3
  bandwidth remaining percent 2 
  set ip dscp cs7
 class CLASS-LAN-NETWORK-CONTROL-CS6-BIDIR-V3
  bandwidth remaining percent 3 
  set ip dscp cs6
 class CLASS-LAN-CALL-DATA-BIDIR-V3
  priority percent 15
  set ip dscp ef
 class CLASS-LAN-CALL-CONTROL-BIDIR-V3
  bandwidth remaining percent 5 
  set ip dscp cs3
 class CLASS-LAN-REAL-TIME-INTERACTIVE-BIDIR-V3
  priority 100000 2000000
  set ip dscp cs5
 class CLASS-LAN-CALL-VIDEO-BIDIR-V3
  bandwidth remaining percent 15 
  set ip dscp af41
 class CLASS-LAN-LIVE-VIDEO-BIDIR-V3
  bandwidth remaining percent 15 
  set ip dscp cs4
 class CLASS-LAN-STREAMING-VIDEO-BIDIR-V3
  bandwidth remaining percent 5 
  set ip dscp af31
  random-detect
 class CLASS-LAN-MISSION-CRITICAL-BIDIR-V3
  bandwidth remaining percent 5 
  set ip dscp af21
  random-detect
 class CLASS-LAN-OAM-BIDIR-V3
  bandwidth remaining percent 5 
  set ip dscp cs2
 class CLASS-LAN-BULK-BIDIR-V3
  bandwidth remaining percent 4 
  set ip dscp af11
  random-detect
 class CLASS-LAN-SCAVENGER-BIDIR-V3
  bandwidth remaining percent 1 
  set ip dscp cs1
 class CLASS-LAN-EXTERNAL-BIDIR-V3
  bandwidth remaining percent 10 
  set ip dscp 6
  random-detect
 class class-default
  bandwidth remaining percent 30 
  set ip dscp default
policy-map POLICY-LAN-MARK-IN-V3
 class CLASS-WAN-NETWORK-CONTROL-CS7-BIDIR-V3
  set ip dscp cs7
 class CLASS-WAN-NETWORK-CONTROL-CS6-BIDIR-V3
  set ip dscp cs6
 class CLASS-WAN-REAL-TIME-INTERACTIVE-BIDIR-V3
  set ip dscp cs5
 class CLASS-WAN-CALL-VIDEO-BIDIR-V3
  set ip dscp af41
 class CLASS-WAN-LIVE-VIDEO-BIDIR-V3
  set ip dscp cs4
 class CLASS-WAN-CALL-CONTROL-BIDIR-V4
  set ip dscp cs3
 class CLASS-WAN-STREAMING-VIDEO-BIDIR-V4
  set ip dscp af31
 class CLASS-WAN-MISSION-CRITICAL-BIDIR-V3
  set ip dscp af21
 class CLASS-WAN-OAM-BIDIR-V3
  set ip dscp cs2
 class CLASS-WAN-CALL-DATA-BIDIR-V4
  set ip dscp ef
 class CLASS-WAN-BULK-BIDIR-V3
  set ip dscp af11
 class CLASS-WAN-SCAVENGER-BIDIR-V3
  set ip dscp cs1
 class CLASS-WAN-EXTERNAL-BIDIR-V3
  set ip dscp 6
 class class-default
  set ip dscp default
policy-map POLICY-WAN-QUEUE-OUT-V3
 class CLASS-WAN-NETWORK-CONTROL-CS7-BIDIR-V3
  bandwidth remaining percent 2 
  set ip dscp cs7
 class CLASS-WAN-NETWORK-CONTROL-CS6-BIDIR-V3
  bandwidth remaining percent 3 
  set ip dscp cs6
 class CLASS-WAN-REAL-TIME-INTERACTIVE-BIDIR-V3
  priority 100000 2000000
  set ip dscp cs5
 class CLASS-WAN-CALL-VIDEO-BIDIR-V3
  bandwidth remaining percent 15 
  set ip dscp af41
 class CLASS-WAN-LIVE-VIDEO-BIDIR-V3
  bandwidth remaining percent 15 
  set ip dscp cs4
 class CLASS-WAN-CALL-CONTROL-BIDIR-V4
  bandwidth remaining percent 5 
  set ip dscp cs3
 class CLASS-WAN-STREAMING-VIDEO-BIDIR-V4
  bandwidth remaining percent 5 
  set ip dscp af31
  random-detect
 class CLASS-WAN-MISSION-CRITICAL-BIDIR-V3
  bandwidth remaining percent 5 
  set ip dscp af21
  random-detect
 class CLASS-WAN-OAM-BIDIR-V3
  bandwidth remaining percent 5 
  set ip dscp cs2
 class CLASS-WAN-CALL-DATA-BIDIR-V4
  priority percent 15
  set ip dscp ef
 class CLASS-WAN-BULK-BIDIR-V3
  bandwidth remaining percent 4 
  set ip dscp af11
  random-detect
 class CLASS-WAN-SCAVENGER-BIDIR-V3
  bandwidth remaining percent 1 
  set ip dscp cs1
 class CLASS-WAN-EXTERNAL-BIDIR-V3
  bandwidth remaining percent 10 
  set ip dscp 6
  random-detect
 class class-default
  bandwidth remaining percent 30 
  set ip dscp default
!
!
! 
!
!
!
!
!
!
!
!
!
!
!
! 
! 
!
!
interface Loopback0
 ip address 10.199.0.24 255.255.255.255
 ip pim sparse-mode
 ip ospf 64800 area 0
!
interface GigabitEthernet0/0/0
 vrf forwarding Mgmt
 ip address 10.51.1.22 255.255.255.0
 negotiation auto
 cdp enable
!
interface GigabitEthernet0/0/1
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/2
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/3
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/4
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/5
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/6
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/7
 no ip address
 shutdown
 negotiation auto
!
interface TenGigabitEthernet0/1/0
 no ip address
 ip ospf cost 20000
 shutdown
!
interface TenGigabitEthernet0/1/1
 description Verizon:W1E27681:IAD-TRX1-DC21-P3:Et3 
 mtu 9202
 ip address 10.199.1.13 255.255.255.254
 no ip redirects
 ip mtu 9170
 ip pim sparse-mode
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 7 044E18070E2E5F5E0F09040401
 ip ospf network point-to-point
 ip ospf 64800 area 0
 ip ospf cost 20000
 mka policy TEST_MKA
 mka pre-shared-key key-chain ONENET_TEST
 macsec
 bfd interval 300 min_rx 300 multiplier 3
 service-policy output POLICY-WAN-QUEUE-OUT-V3
!
interface TenGigabitEthernet0/1/2
 no ip address
 shutdown
!
interface TenGigabitEthernet0/1/3
 no ip address
 shutdown
!
interface TenGigabitEthernet0/1/4
 description PE-PE:TPA-TRX1-CRA02S-PE1:Te0/1/4:Lumen:CID#446905447
 mtu 9202
 ip address 10.199.1.91 255.255.255.254
 no ip redirects
 ip mtu 9170
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 7 044E18070E2E5F5E0F09040401
 ip ospf network point-to-point
 ip ospf 64800 area 0
 ip ospf cost 1000
 mka policy RO_MKA
 mka pre-shared-key key-chain ONENET_SEC
 macsec
 bfd interval 100 min_rx 100 multiplier 3
!
interface TenGigabitEthernet0/1/5
 no ip address
!
interface TenGigabitEthernet0/1/6
 description PE-CE:TPA-B2N-TFLRO-IR1:Te1/7/6
 mtu 9216
 no ip address
 cdp enable
 service-policy output POLICY-LAN-QUEUE-OUT-V3
!
interface TenGigabitEthernet0/1/6.2020
 description PE-CE:TPA-B2N-TFLRO-IR1:Te1/7/6.2020:TRUST
 encapsulation dot1Q 2020
 vrf forwarding ROTRUST
 ip flow monitor NOS3001-NETFLOW-NETSCOUT-MONITOR input
 ip flow monitor NOS3001-NETFLOW-NETSCOUT-MONITOR output
 ip address 10.51.0.20 255.255.255.254
 no ip redirects
 no ip proxy-arp
 ip pim sparse-mode
 ip access-group RO_TRAFFIC_INBOUND in
 cdp enable
 service-policy input POLICY-LAN-MARK-IN-V3
!
interface TenGigabitEthernet0/1/6.2620
 description PE-CE:TPA-B2N-TFLRO-IR1:Te1/7/6.2620:DR
 encapsulation dot1Q 2620
 vrf forwarding USAADR
 ip flow monitor NOS3001-NETFLOW-NETSCOUT-MONITOR input
 ip flow monitor NOS3001-NETFLOW-NETSCOUT-MONITOR output
 ip address 10.51.0.24 255.255.255.254
 no ip redirects
 no ip proxy-arp
 ip pim sparse-mode
 cdp enable
 service-policy input POLICY-LAN-MARK-IN-V3
!
interface TenGigabitEthernet0/1/6.2820
 description PE-CE:TPA-B2N-TFLRO-IR1:Te1/7/6.2820:UNTRUST
 encapsulation dot1Q 2820
 vrf forwarding ROUNTRUST
 ip flow monitor NOS3001-NETFLOW-NETSCOUT-MONITOR input
 ip flow monitor NOS3001-NETFLOW-NETSCOUT-MONITOR output
 ip address 10.51.0.22 255.255.255.254
 no ip redirects
 no ip proxy-arp
 ip pim sparse-mode
 cdp enable
 service-policy input POLICY-LAN-MARK-IN-V3
!
interface TenGigabitEthernet0/1/7
 description PE-PE:TPA-TRX1-TFLRO-PE2:Te0/1/7
 mtu 9216
 ip address 10.199.1.16 255.255.255.254
 no ip redirects
 ip mtu 9184
 ip pim sparse-mode
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 7 12090404011C03162E24373835
 ip ospf network point-to-point
 ip ospf 64800 area 0
 cdp enable
 mka policy RO_MKA
 mka pre-shared-key key-chain ONENET_SEC
 macsec
 bfd interval 300 min_rx 300 multiplier 3
 service-policy output POLICY-WAN-QUEUE-OUT-V3
!
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 no ip address
 shutdown
 negotiation auto
!
router ospf 64800
 router-id 10.199.0.24
 auto-cost reference-bandwidth 1000000
 bfd all-interfaces
 mpls ldp sync
 mpls ldp autoconfig
!
router bgp 64800
 bgp router-id 10.199.0.24
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 neighbor USAA-RR peer-group
 neighbor USAA-RR remote-as 64800
 neighbor USAA-RR update-source Loopback0
 neighbor USAA-RR timers 10 30
 neighbor 10.194.0.3 peer-group USAA-RR
 neighbor 10.194.0.3 description BGP-RR:DFW-TRX1-DALEQ-RR1
 neighbor 10.194.128.3 peer-group USAA-RR
 neighbor 10.194.128.3 description BGP-RR:SJC-TRX1-SCREQ-RR1
 neighbor 10.195.0.3 peer-group USAA-RR
 neighbor 10.195.0.3 description BGP-RR:IAD-TRX1-ABVEQ-RR1
 !
 address-family ipv4
 exit-address-family
 !
 address-family vpnv4
  neighbor USAA-RR send-community both
  neighbor 10.194.0.3 activate
  neighbor 10.194.128.3 activate
  neighbor 10.195.0.3 activate
 exit-address-family
 !
 address-family ipv4 vrf ROTRUST
  bgp additional-paths install
  neighbor RO_TRUST peer-group
  neighbor RO_TRUST remote-as 64752
  neighbor RO_TRUST password 7 0213175A0A0408315C4F1A0A
  neighbor RO_TRUST send-community
  neighbor RO_TRUST route-map RO_TRUST_BGP_POLICY_IN in
  neighbor RO_TRUST route-map RO_TRUST_BGP_POLICY_OUT out
  neighbor 10.51.0.21 peer-group RO_TRUST
  neighbor 10.51.0.21 description TPA-B2N-TFLRO-IR1:TRUST
  neighbor 10.51.0.21 activate
  maximum-paths 2
  maximum-paths ibgp 2
 exit-address-family
 !
 address-family ipv4 vrf ROUNTRUST
  bgp additional-paths install
  neighbor RO_UNTRUST peer-group
  neighbor RO_UNTRUST remote-as 64752
  neighbor RO_UNTRUST password 7 0213175A0A0408315C4F1A0A
  neighbor RO_UNTRUST send-community
  neighbor RO_UNTRUST route-map RO_UNTRUST_BGP_POLICY_IN in
  neighbor RO_UNTRUST route-map RO_UNTRUST_BGP_POLICY_OUT out
  neighbor 10.51.0.23 peer-group RO_UNTRUST
  neighbor 10.51.0.23 description TPA-B2N-TFLRO-IR1:UNTRUST
  neighbor 10.51.0.23 activate
  maximum-paths 2
  maximum-paths ibgp 2
 exit-address-family
 !
 address-family ipv4 vrf USAADR
  bgp additional-paths install
  neighbor RO_USAADR peer-group
  neighbor RO_USAADR remote-as 64752
  neighbor RO_USAADR password 7 111C0A0416100C1C142B3837
  neighbor RO_USAADR send-community
  neighbor RO_USAADR route-map RO_USAADR_BGP_POLICY_IN in
  neighbor RO_USAADR route-map RO_USAADR_BGP_POLICY_OUT out
  neighbor 10.51.0.25 peer-group RO_USAADR
  neighbor 10.51.0.25 description TPA-B2N-TFLRO-IR1:USAADR
  neighbor 10.51.0.25 activate
 exit-address-family
!
no ip http server
ip http authentication local
no ip http secure-server
ip forward-protocol nd
!
ip bgp-community new-format
ip community-list standard ITC_DEFAULT_COMM permit 65210:9999
ip community-list standard DA2_DEFAULT_COMM permit 64811:11233
ip community-list standard DC5_DEFAULT_COMM permit 64813:13233
ip community-list expanded POLICY_LP190_OVERRIDE permit (.*):419
ip community-list expanded POLICY_LP120 permit (.*):412
ip community-list expanded POLICY_LP150 permit (.*):415
ip community-list expanded POLICY_LP170 permit (.*):417
ip community-list expanded POLICY_LP180 permit (.*):418
ip community-list expanded PE1 permit (.*):1_
ip community-list expanded PE2 permit (.*):2_
ip tftp source-interface GigabitEthernet0/0/0
ip pim ssm default
ip pim vrf ROTRUST rp-address 10.0.0.250 MGROUPS
ip route vrf Mgmt 0.0.0.0 0.0.0.0 10.51.1.1
ip ssh time-out 60
ip ssh authentication-retries 5
ip ssh rsa keypair-name ISB-SSH
ip ssh version 2
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip scp server enable
!
ip access-list standard MGROUPS
ip access-list standard SNMP_ACL_RO
 10 permit 10.225.51.254
 20 remark ***** CiscoUCAT *****
 20 permit 10.81.23.31
 30 permit 10.81.37.40
 40 permit 10.81.37.39
 50 permit 10.225.51.129
 60 remark ***** Infoblox *****
 60 permit 10.80.37.31
 70 permit 10.81.14.48
 80 permit 10.81.14.33
 90 permit 10.81.14.47
 100 remark ***** PSMT *****
 100 permit 10.80.14.40
 110 permit 10.225.52.74
 120 permit 10.225.52.73
 130 remark ***** Netbrain prodnbfront1lsat *****
 130 permit 10.9.254.91
 140 permit 10.225.37.105
 150 permit 10.176.37.32
 160 remark ***** Cisco CSPC *****
 160 permit 10.9.254.20
 170 remark ***** DNA Center *****
 170 permit 10.84.31.171
 180 remark NOS3002-20190919
 180 remark ***** SAT NMS HOSTING NET *****
 180 permit 10.9.200.0 0.0.0.255
 190 remark ***** DFW NMS HOSTING NET  *****
 190 permit 10.224.255.0 0.0.0.255
!
ip access-list extended QOS-WAN-BULK-BIDIR-V3
 10 remark Match FTP
 10 permit tcp any any range ftp-data ftp
 20 permit tcp any range ftp-data ftp any
 30 remark Match TFTP
 30 permit udp any any eq tftp
 40 permit udp any eq tftp any
 50 remark Match SMTP and POP3
 50 permit tcp any any eq smtp
 60 permit tcp any eq smtp any
 70 permit tcp any any eq pop3
 80 permit tcp any eq pop3 any
ip access-list extended QOS-WAN-CALL-CONTROL-BIDIR-V4
 10 remark Match TCP H323
 10 permit tcp any any eq 1719
 20 permit tcp any eq 1719 any
 30 permit tcp any any eq 1720
 40 permit tcp any eq 1720 any
 50 permit tcp any any range 61440 61444
 60 permit tcp any range 61440 61444 any
 70 remark Match SIP Range
 70 permit udp any any range 5060 5069
 80 permit udp any range 5060 5069 any
 90 permit tcp any any range 5060 5069
 100 permit tcp any range 5060 5069 any
 110 remark Match CUVA
 110 permit tcp any any eq 4224
 120 permit tcp any eq 4224 any
 130 permit udp any any eq 5446
 140 permit udp any eq 5446 any
 150 remark Match SCCP
 150 permit tcp any any range 2000 2002
 160 permit tcp any range 2000 2002 any
 170 remark CCMS
 170 permit tcp any any eq 5010
 180 permit tcp any eq 5010 any
 190 remark H.248
 190 permit tcp any any eq 2945
 200 permit tcp any eq 2945 any
ip access-list extended QOS-WAN-CALL-DATA-BIDIR-V4
 10 permit udp any any range 16384 32767
 20 permit udp any range 16384 32767 any
 30 permit udp any any range 5000 6000
 40 permit udp any range 5000 6000 any
 50 remark Match WebEx Audio
 50 permit tcp any eq 8554 any
 60 permit tcp any any eq 8554
 70 permit udp any any range 7500 7501
 80 permit udp any range 7500 7501 any
 90 permit udp any any range 9000 9001
 100 permit udp any range 9000 9001 any
ip access-list extended QOS-WAN-CALL-VIDEO-BIDIR-V3
 10 permit udp any any eq 5445
 20 permit udp any eq 5445 any
 30 permit udp any any eq 7476
 40 permit udp any eq 7476 any
 50 permit udp any any range 20000 20100
 60 permit udp any range 20000 20100 any
ip access-list extended QOS-WAN-EXTERNAL-BIDIR-V3
 10 permit ip any 167.24.0.0 0.0.255.255
 20 permit ip any 172.16.0.0 0.0.255.255
 30 permit ip 167.24.0.0 0.0.255.255 any
 40 permit ip 172.16.0.0 0.0.255.255 any
ip access-list extended QOS-WAN-LIVE-VIDEO-BIDIR-V3
 10 permit ip any 239.192.4.0 0.0.0.255
 20 permit ip 239.192.4.0 0.0.0.255 any
 30 permit ip any 239.192.5.0 0.0.0.255
 40 permit ip 239.192.5.0 0.0.0.255 any
ip access-list extended QOS-WAN-MISSION-CRITICAL-BIDIR-V3
 10 deny   ip any any
ip access-list extended QOS-WAN-OAM-BIDIR-V3
 10 remark Match SNMP
 10 permit udp any any eq snmp
 20 permit udp any any eq snmptrap
 30 permit udp any eq snmp any
 40 permit udp any eq snmptrap any
 50 remark Match SSH
 50 permit tcp any any eq 22
 60 permit tcp any eq 22 any
 70 remark Match TELNET
 70 permit tcp any any eq telnet
 80 permit tcp any eq telnet any
 90 remark Match SYSLOG
 90 permit udp any any eq syslog
 100 remark Match NTP
 100 permit udp any any eq ntp
 110 permit udp any eq ntp any
 120 remark Match TACACS
 120 permit tcp any eq tacacs any
 130 permit tcp any any eq tacacs
 140 remark Match NetFlow
 140 permit tcp any eq 2055 any
 150 permit tcp any any eq 2055
ip access-list extended QOS-WAN-SCAVENGER-BIDIR-V3
 10 deny   ip any any
ip access-list extended QOS-WAN-STREAMING-MEDIA-BIDIR-V4
 10 remark Match MMS traffic streams
 10 permit udp any any eq 1755
 20 permit tcp any any eq 1755
 30 permit udp any eq 1755 any
 40 permit tcp any eq 1755 any
 50 permit udp any any range 1024 5000
 60 permit udp any range 1024 5000 any
 70 remark Match RTSP traffic streams
 70 permit tcp any any eq 554
 80 permit tcp any eq 554 any
 90 permit udp any any eq 554
 100 permit udp any eq 554 any
 110 permit udp any any eq 5004
 120 permit udp any eq 5004 any
 130 remark Match WebEx MMP traffic streams
 130 permit tcp any any eq 5101
 140 permit tcp any eq 5101 any
 150 permit udp any any eq 5101
 160 permit udp any eq 5101 any
ip access-list extended RO_TRAFFIC_INBOUND
 10 permit ip 10.0.0.0 0.255.255.255 any
 20 deny   ip any any log
ip access-list extended SSH_ACCESS
 10 permit tcp 198.148.150.0 0.0.0.255 any eq 22
 20 permit tcp 10.0.0.0 0.255.255.255 any eq 22
 30 permit tcp 172.16.0.0 0.15.255.255 any eq 22
 40 permit tcp 167.24.0.0 0.0.255.255 any eq 22
 50 permit tcp 192.168.0.0 0.0.255.255 any eq 22
ip access-list extended TELNETACCESS
 10 permit tcp host 10.3.1.21 any eq telnet
 20 permit tcp host 10.1.1.20 any eq telnet
 30 permit tcp host 10.2.1.20 any eq telnet
 40 permit tcp host 10.1.9.32 any eq telnet
 50 permit tcp host 10.1.13.28 any eq telnet
 60 permit tcp host 10.42.44.4 any eq telnet
 70 permit tcp host 10.60.32.206 any eq telnet
 80 permit tcp host 10.210.3.10 any eq telnet
 90 permit tcp host 10.1.7.62 any eq telnet
 100 permit tcp host 10.2.7.75 any eq telnet
 110 permit tcp host 10.3.1.20 any eq telnet
 120 permit tcp host 10.5.33.201 any eq telnet
 130 permit tcp any any eq 22
!
!
ip prefix-list VELO-SPECIFIC seq 5 permit 10.96.0.0/14 ge 15
ip sla responder
logging trap notifications
logging origin-id hostname
logging host 10.0.251.143
logging host 10.9.254.20
logging host 10.231.124.209
logging host 10.131.1.219
logging host 10.0.32.249 vrf Mgmt transport udp port 8003
!
route-map RO_UNTRUST_BGP_POLICY_IN permit 10 
 match community POLICY_LP20_BLEED
 set local-preference 20
!
route-map RO_UNTRUST_BGP_POLICY_IN permit 20 
 match community POLICY_LP190_OVERRIDE
 set local-preference 190
!
route-map RO_UNTRUST_BGP_POLICY_IN permit 30 
 match community POLICY_LP120
 set local-preference 120
!
route-map RO_UNTRUST_BGP_POLICY_IN permit 40 
 match community POLICY_LP150
 set local-preference 150
!
route-map RO_UNTRUST_BGP_POLICY_IN permit 50 
 match community POLICY_LP170
 set local-preference 170
!
route-map RO_UNTRUST_BGP_POLICY_IN permit 60 
 match community POLICY_LP180
 set local-preference 180
!
route-map RO_UNTRUST_BGP_POLICY_IN permit 70 
 match community PE1
 set local-preference 120
!
route-map RO_UNTRUST_BGP_POLICY_IN permit 80 
!
route-map DENY_ALL deny 5 
!
route-map PREF_BSVC_DEFAULT_IMPORT_MAP permit 10 
 match community ITC_DEFAULT_COMM
 set local-preference 20
!
route-map PREF_BSVC_DEFAULT_IMPORT_MAP permit 15 
 match community DC5_DEFAULT_COMM
 set local-preference 120
!
route-map PREF_BSVC_DEFAULT_IMPORT_MAP permit 20 
!
route-map RO_USAADR_BGP_POLICY_OUT permit 10 
 set community 64800:1 additive
!
route-map RO_BLEED_OUT permit 10 
 set as-path prepend 64800 64800 64800 64800 64800
!
route-map RO_TRUST_BGP_POLICY_IN permit 10 
 match community POLICY_LP20_BLEED
 set local-preference 20
!
route-map RO_TRUST_BGP_POLICY_IN permit 20 
 match community POLICY_LP190_OVERRIDE
 set local-preference 190
!
route-map RO_TRUST_BGP_POLICY_IN permit 30 
 match community POLICY_LP120
 set local-preference 120
!
route-map RO_TRUST_BGP_POLICY_IN permit 40 
 match community POLICY_LP150
 set local-preference 150
!
route-map RO_TRUST_BGP_POLICY_IN permit 50 
 match community POLICY_LP170
 set local-preference 170
!
route-map RO_TRUST_BGP_POLICY_IN permit 60 
 match community POLICY_LP180
 set local-preference 180
!
route-map RO_TRUST_BGP_POLICY_IN permit 70 
 match community PE1
 set local-preference 120
!
route-map RO_TRUST_BGP_POLICY_IN permit 80 
!
route-map RO_UNTRUST_BGP_POLICY_OUT permit 10 
 set community 64800:1 additive
!
route-map RO_BLEED_IN permit 10 
 set local-preference 20
!
route-map RO_TRUST_BGP_POLICY_OUT deny 5 
 match ip address prefix-list VELO-SPECIFIC
!
route-map RO_TRUST_BGP_POLICY_OUT permit 10 
 set community 64800:1 additive
!
route-map PREF_DEFAULT_IMPORT_MAP permit 10 
 description Standard import map to allow DA2 Default 
 match community DA2_DEFAULT_COMM
 set local-preference 120
!
route-map PREF_DEFAULT_IMPORT_MAP permit 20 
 description Standard import map to allow DC5 Default 
 match community DC5_DEFAULT_COMM
 set local-preference 150
!
route-map PREF_DEFAULT_IMPORT_MAP permit 900 
 description Standard import map to allow All routes
!
route-map PREF_ITC_DEFAULT_IMPORT_MAP permit 10 
 match community ITC_DEFAULT_COMM
 set local-preference 120
!
route-map PREF_ITC_DEFAULT_IMPORT_MAP permit 20 
!
route-map RO_USAADR_BGP_POLICY_IN permit 10 
 match community POLICY_LP20_BLEED
 set local-preference 20
!
route-map RO_USAADR_BGP_POLICY_IN permit 20 
 match community POLICY_LP190_OVERRIDE
 set local-preference 190
!
route-map RO_USAADR_BGP_POLICY_IN permit 30 
 match community POLICY_LP120
 set local-preference 120
!
route-map RO_USAADR_BGP_POLICY_IN permit 40 
 match community POLICY_LP150
 set local-preference 150
!
route-map RO_USAADR_BGP_POLICY_IN permit 50 
 match community POLICY_LP170
 set local-preference 170
!
route-map RO_USAADR_BGP_POLICY_IN permit 60 
 match community POLICY_LP180
 set local-preference 180
!
route-map RO_USAADR_BGP_POLICY_IN permit 70 
 match community PE1
 set local-preference 120
!
route-map RO_USAADR_BGP_POLICY_IN permit 80 
!
snmp-server group READONLY v3 priv 
snmp-server community bptw1it RO SNMP_ACL_RO
snmp-server trap-source GigabitEthernet0/0/0
snmp-server contact NETSVC_CAMPUS
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps ds1
snmp-server enable traps tty
snmp-server enable traps eigrp
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface-old
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps casa
snmp-server enable traps aaa_server
snmp-server enable traps atm subif
snmp-server enable traps memory bufferpeak
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps dhcp
snmp-server enable traps dlsw
snmp-server enable traps dsp card-status
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps event-manager
snmp-server enable traps frame-relay multilink bundle-mismatch
snmp-server enable traps frame-relay
snmp-server enable traps frame-relay subif
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps msdp
snmp-server enable traps mvpn
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps pppoe
snmp-server enable traps cpu threshold
snmp-server enable traps pw vc
snmp-server enable traps rsvp
snmp-server enable traps ipsla
snmp-server enable traps syslog
snmp-server enable traps l2tun session
snmp-server enable traps l2tun pseudowire status
snmp-server enable traps flash insertion
snmp-server enable traps flash removal
snmp-server enable traps sbc adj-status
snmp-server enable traps sbc blacklist
snmp-server enable traps sbc congestion-alarm
snmp-server enable traps sbc h248-ctrlr-status
snmp-server enable traps sbc media-source
snmp-server enable traps sbc radius-conn-status
snmp-server enable traps sbc sla-violation
snmp-server enable traps sbc svc-state
snmp-server enable traps srp
snmp-server enable traps ike policy add
snmp-server enable traps ike policy delete
snmp-server enable traps ike tunnel start
snmp-server enable traps ike tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps sonet
snmp-server enable traps resource-policy
snmp-server enable traps isis
snmp-server enable traps ip local pool
snmp-server enable traps mpls rfc ldp
snmp-server enable traps mpls ldp
snmp-server enable traps mpls traffic-eng
snmp-server enable traps mpls fast-reroute protected
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps alarms informational
snmp-server enable traps rf
snmp-server enable traps mpls vpn
snmp-server enable traps mpls rfc vpn
snmp-server host 10.139.4.41 version 2c bptw1it 
snmp-server host 10.139.4.44 version 2c bptw1it 
snmp ifmib ifindex persist
!
tacacs-server directed-request
tacacs server USAA-PRIMARY
 address ipv4 10.0.253.107
 key 7 13002D2A215E52097D3C1F2705
tacacs server PRODTACACS_DFW
 address ipv4 10.225.30.150
 key 7 13002D2A215E52097D3C1F2705
 timeout 2
 single-connection
tacacs server PRODTACACS_ITC
 address ipv4 10.81.30.150
 key 7 13002D2A215E52097D3C1F2705
 timeout 2
 single-connection
tacacs server PRODAUTH-DFW
 address ipv4 10.231.125.33
 key 7 13002D2A215E52097D3C1F2705
 timeout 2
 single-connection
tacacs server PRODAUTH-COLO
 address ipv4 10.131.1.5
 key 7 13002D2A215E52097D3C1F2705
 timeout 2
 single-connection
!
!
!
!
control-plane
!
!
!
!
!
banner exec ^C
************************************************************************
 *** Session activated on line $(line). All commands will be logged. *** 
************************************************************************
^C
banner login ^C
******************************WARNING************************************
This system is for authorized users only. This, and any other sessions,
can and will be monitored to determine whether or not it is being used by
an authorized user.

By logging into this system, you are consenting to such monitoring, and
are advised that the system administrators retain the right to use any
recorded session as evidence of criminal activity, if such activity is
monitored.
******************************WARNING************************************
^C
banner motd ^C
**************************************
United Services Automobile Association
**************************************
^C
!
line con 0
 session-timeout 10 
 logging synchronous
 transport output none
 stopbits 1
line aux 0
 session-timeout 10 
 no exec
line vty 0 4
 session-timeout 10 
 access-class SSH_ACCESS in vrf-also
 logging synchronous
 transport input ssh
 transport output none
line vty 5 15
 session-timeout 10 
 access-class SSH_ACCESS in vrf-also
 logging synchronous
 transport input ssh
 transport output none
!
call-home
 ! If contact email address in call-home is configured as sch-smart-licensing@cisco.com
 ! the email address configured in Cisco Smart License Portal will be used as contact email address to send SCH notifications.
 contact-email-addr sch-smart-licensing@cisco.com
 profile "CiscoTAC-1"
  active
  destination transport-method http
ntp authentication-key 10 md5 153C1F4D346C007731 7
ntp authenticate
ntp trusted-key 10
ntp source GigabitEthernet0/0/0
ntp server vrf Mgmt 10.131.0.253 key 10
ntp server 10.131.0.253 key 10
ntp server vrf Mgmt 10.0.16.254 key 10
ntp server 10.0.16.254 key 10
ntp server vrf Mgmt 10.0.16.255 key 10
ntp server 10.0.16.255 key 10
!
!
!
!
!
!
end

